
body {
  background-color: lightblue;
  color: black;
  float: right;
  font-family: Arial, Helvetica, sans-serif; 
  margin: 10% 20%;
  Background: url("https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3003&q=80")
}

footer {
  text-align: center;
  padding: 5px;
  font-family: italic; 
  border-bottom: 1px black
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; 
  border-bottom: 1px black;
}

p {
  text-align: center;
  border-top: 3px solid black;
  border-bottom: 1px solid black;
}

.exp-header {
  text-align: center;
  text-transform: uppercase; 
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: lightyellow
}

h2 {
   text-align: center;
  font-family: Arial, Helvetica, sans-serif; 
}
